
@layout('main')

@section('content')

@if(old('notification'))

<div class="alert alert-success">
    {{ old('notification') }}
</div>

@endif

<h1>{{ title }}</h1>
<ul class="list-group">
@each(post in posts)
<li class="list-group-item"> <a href="/posts/{{post.id}}"> {{post.title}}</a></li>
@endeach
</ul>

@endsection